# Python virtual environment
venv/
ENV/
env/
data/*
!data/.gitkeep

# Environment Variables (API Keys rahasia)
.env

# Python Cache & Database lokal
__pycache__/
*.py[cod]
*.sqlite3
.chroma/
chroma_db/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
